body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

body>section>header{
    height: 80px;
    background-image: url(../image/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

}
body>section>header>h1{
    color:white;
    font-size: 2em;
}

nav{

    background-color: darkgray;
    color: black;
}
nav>a {
    color: green;
}

article {
    background-color: lightgray;
    margin: 5px;
    padding: 10px;

}
article>header>h1 {
    text-decoration: underline;
    font-size: 2em;
}